<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Lending</b>Real</a>
    </div>
    <div ng-if="errorMsg" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i>Alert!</h4>
        {{ errorMsg }}
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Enter your email</p>

        <form role="form" ng-submit="sendResetPasswordEmail()">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" ng-model="reset.email" placeholder="Email" required>
                <i class="fa fa-envelope form-control-feedback"></i>
            </div>
            <div class="row">
                <div class="pull-right col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit <i ng-if="processing" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="#/login">Back to login</a><br>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->