<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Lending</b>Real</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>


        <form role="form" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" ng-model="admin.email" placeholder="Email" required>
                <i class="fa fa-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="admin.password" placeholder="Password" required>
                <i class="fa fa-lock form-control-feedback"></i>
            </div>

            <div ng-if="errorMsg" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i></h4>
                {{ errorMsg }}
            </div>

            <div class="row">
                <div class="pull-right col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In <i ng-if="processing" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a href="#/password/email">I forgot my password</a><br>

    </div>
    <!-- /.login-box-body -->

</div>
<!-- /.login-box -->