<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Lending</b>Real</a>
    </div>
    <div ng-if="errorMsg" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i>Alert!</h4>
        {{ errorMsg }}
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Reset your password</p>

        <form role="form" ng-submit="resetPassword()">
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="reset.password" placeholder="New Password" required>
                <i class="fa fa-lock form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="reset.passwordConfirmation" placeholder="Retype Password" required>
                <i class="fa fa-lock form-control-feedback"></i>
            </div>
            <div class="row">
                <div class="pull-right col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Reset <i ng-if="processing" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->