<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Lending</b>Real</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Check your email</p>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->