<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Proposals
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Proposals</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Source</th>
                                <th width="1%">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proposal in proposals">
                                <td>{{proposal.id}}</td>
                                <td><a href="#/user/{{proposal.user.id}}">{{proposal.user.first_name}}</a></td>
                                <td><span ng-if="proposal.role == 1">Borrower</span><span ng-if="proposal.role == 2">Broker</span></td>
                                <td><a href="#/proposal/{{proposal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!proposals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
