<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Register Admin
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" ng-submit="register()">
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" ng-model="registration.email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" ng-model="registration.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" ng-model="registration.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="registration.password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="passwordConfirmation">Retype Password</label>
                            <input type="password" class="form-control" id="passwordConfirmation" ng-model="registration.passwordConfirmation" placeholder="Retype Password">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
            <div ng-if="registeredAdmin" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i>Success</h4>
                You've registered admin <b>{{ registeredAdmin.first_name }} {{ registeredAdmin.last_name }}</b> successfully.
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- /.content -->
