<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Publish Deal
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" ng-submit="storeDeal()">

                    <div class="box-body">
                        <h4 class="col-md-12">Basic</h4>
                        <div class="form-group col-md-6">
                            <label for="dealName">Deal Name</label>
                            <input type="text" class="form-control" id="dealName" ng-model="deal.deal_name" placeholder="Deal Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="closingDate">Closing Date</label>
                            <input type="date" class="form-control" id="closingDate" ng-model="deal.closing_date" placeholder="Closing Date">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="brokerName">Broker Name</label>
                            <input type="text" class="form-control" id="brokerName" ng-model="deal.broker_name" placeholder="Broker Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="investorName">Investor Name</label>
                            <input type="text" class="form-control" id="investorName" ng-model="deal.investor_name" placeholder="Investor Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lawyerName">Lawyer Name</label>
                            <input type="text" class="form-control" id="lawyerName" ng-model="deal.lawyer_name" placeholder="Lawyer Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="annualReturn">Annual Return</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="annualReturn" ng-model="deal.annual_return" placeholder="Annual Return">
                                <span class="input-group-addon">&#37;</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ltv">LTV</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="ltv" ng-model="deal.ltv" placeholder="LTV">
                                <span class="input-group-addon">&#37;</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="term">Term</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="term" ng-model="deal.term" placeholder="Term">
                                <span class="input-group-addon">Month(s)</span>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Prepay Interest</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox" id="hasPrepayInterest" ng-change="togglePrepayInterest()" ng-model="prepayInterest.hasPrepayInterest">Has prepay interest.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3" ng-if="prepayInterest.hasPrepayInterest">
                                    <label for="prepayInterest">&nbsp;</label>
                                    <input type="number" class="form-control" id="prepayInterest" ng-model="deal.prepay_interest" placeholder="Months">
                                    <!--<input type="number" class="form-control" id="numberOfApplicants" ng-model="applicants.numberOfApplicants" ng-change="changeNumberOfApplicants(applicants.numberOfApplicants, '{{applicants.numberOfApplicants}}')" placeholder="Number of Applicants">-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="requestedAmount">Requested Amount</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="requestedAmount" ng-model="deal.requested_amount" placeholder="Requested Amount">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="totalAmount">Total Amount</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="totalAmount" ng-model="deal.total_amount" placeholder="Total Amount">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="appraisedValue">Appraised Value</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="appraisedValue" ng-model="deal.appraised_value" placeholder="Appraised Value">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="minInvestment">Min Investment</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="minInvestment" ng-model="deal.min_investment" placeholder="Min Investment">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="monthlyInterest">Monthly Interest</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="monthlyInterest" ng-model="deal.monthly_interest" placeholder="Monthly Interest">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="processingFee">Processing Fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="processingFee" ng-model="deal.processing_fee" placeholder="Processing Fee">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="brokerFindersFee">Broker Finders Fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="brokerFindersFee" ng-model="deal.broker_finders_fee" placeholder="Broker Finders Fee">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dischargeFee">Discharge Fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="dischargeFee" ng-model="deal.discharge_fee" placeholder="Discharge Fee">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate">Rate</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="rate" ng-model="deal.rate" placeholder="Rate">
                                <span class="input-group-addon">&#37;</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fundingPurpose">Funding Purpose</label>
                            <select class="form-control" id="fundingPurpose" ng-model="deal.funding_purpose">
                                <option value="1">Credit Card Consolidation</option>
                                <option value="2">Debt Consolidation</option>
                                <option value="3">Renovation</option>
                                <option value="4">Personal Use</option>
                                <option value="5">Business Capital Injection</option>
                                <option value="6">Sell</option>
                                <option value="7">Stop Power of Sell</option>
                                <option value="8">Down Payment for a New House</option>
                            </select>
                        </div>

                        <h4 class="col-md-12">Collateral Information</h4>
                        <div class="form-group col-md-6">
                            <label for="houseType">House Type</label>
                            <select class="form-control" id="houseType" ng-model="deal.house_type">
                                <option value="1">Detached</option>
                                <option value="2">Semi-detached</option>
                                <option value="3">Townhouse</option>
                                <option value="4">Condo</option>
                                <option value="5">Apartment</option>
                                <option value="6">Bachelor</option>
                                <option value="7">Free-hold Townhouse</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" ng-model="deal.address" placeholder="Address">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" ng-model="deal.city" placeholder="City">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="province">Province</label>
                            <input type="text" class="form-control" id="province" ng-model="deal.province" placeholder="Province">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postalCode">Postal Code</label>
                            <input type="text" class="form-control" id="postalCode" ng-model="deal.postal_code" pattern="^[A-Z]\d[A-Z] \d[A-Z]\d$" title="Canadian Postal Code" placeholder="Postal Code" required>
                        </div>

                        <h4 class="col-md-12">Applicants</h4>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="numberOfApplicants">Number of Applicants</label>
                                    <input type="number" class="form-control" id="numberOfApplicants" ng-model="applicants.numberOfApplicants" ng-change="changeNumberOfApplicants()" placeholder="Number of Applicants">
                                    <!--<input type="number" class="form-control" id="numberOfApplicants" ng-model="applicants.numberOfApplicants" ng-change="changeNumberOfApplicants(applicants.numberOfApplicants, '{{applicants.numberOfApplicants}}')" placeholder="Number of Applicants">-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Income Verification</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox" id="incomeVerified" ng-model="deal.income_verified">Income is verified.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="applicant in deal.applicants track by $index">
                            <div class="form-group col-md-6">
                                <label>Credit of Applicant {{$index+1}}</label>
                                <input type="text" class="form-control" ng-model="applicant.credit" placeholder="Credit of Applicant {{$index+1}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Income of Applicant {{$index+1}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon">&#36;</span>
                                    <input type="text" class="form-control" ng-model="applicant.income" placeholder="Income of Applicant {{$index+1}}">
                                </div>
                            </div>
                        </div>

                        <h4 class="col-md-12">Mortgage Information</h4>
                        <div class="form-group col-md-6">
                            <label for="mortgageType">Mortgage Type</label>
                            <select class="form-control" id="mortgageType" ng-model="deal.mortgage_type">
                                <option value="1">1st Mortgage</option>
                                <option value="2">2nd Mortgage</option>
                                <option value="3">3rd Mortgage</option>
                                <option value="4">One Charge</option>
                                <option value="5">1st Construction</option>
                                <option value="6">2nd Construction</option>
                                <option value="7">3rd Construction</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstMortgage">First Mortgage</label>
                            <div class="input-group">
                                <span class="input-group-addon">&#36;</span>
                                <input type="text" class="form-control" id="firstMortgage" ng-model="deal.first_mortgage" placeholder="First Mortgage">
                            </div>
                        </div>

                        <h4 class="col-md-12">Documents Outstanding</h4>
                        <div class="form-group col-md-6">
                            <label for="documentsOutstanding">Documents Outstanding</label>
                            <select class="form-control" id="documentsOutstanding" ng-model="deal.documents_outstanding" ng-change="changeDocumentsOutstanding(deal.documents_outstanding)">
                                <option value="1">Appraisal</option>
                                <option value="2">Credit Bureau</option>
                                <option value="3">Mortgage Application</option>
                                <option value="4">1st Mortgage Statement</option>
                                <option value="5">Income Proof</option>
                                <option value="6">Notice of Assessment</option>
                                <option value="7">Supporting Documents</option>
                                <option value="20">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" ng-if="documentsOutstanding.isOther">
                            <label for="documentsOutstandingOther">Other</label>
                            <input type="text" class="form-control" id="documentsOutstandingOther" ng-model="deal.documents_outstanding_other" placeholder="Other">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="exitStrategy">Exit Strategy</label>
                            <textarea class="form-control" rows="5" id="exitStrategy" ng-model="deal.exit_strategy" placeholder="Exit Strategy"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="note">Note</label>
                            <textarea class="form-control" rows="5" id="note" ng-model="deal.note" placeholder="Note"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Appraisal</label><br />
                            <button class="btn" ngf-select ng-model="deal.appraisal">Select Appraisal</button>
                            <br>
                            <br>Appraisal:
                            <ul>
                                <li ng-if="deal.appraisal">{{deal.appraisal.name}}</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Images</label><br />
                            <button class="btn" ngf-select ng-model="deal.images" multiple accept="image/*">Select Images</button>
                            <br>
                            <br>Images:
                            <ul>
                                <li ng-repeat="image in deal.images">
                                    {{image.name}}
                                </li>
                            </ul>
                            <div class="progress progress-sm active" ng-class="deal.images.progress != 100 ? 'active' : ''">
                                <div class="progress-bar" ng-class="deal.images.progress != 100 ? 'progress-bar-primary progress-bar-striped' : 'progress-bar-success'" role="progressbar" aria-valuenow="{{deal.images.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{deal.images.progress}}%">
                                    <span class="sr-only">{{deal.images.progress}}% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit <i ng-if="creating" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

            <div ng-if="createdDeal" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i>Success</h4>
                You've created deal <b>{{ createdDeal.name }}</b> successfully.
            </div>
            <div ng-if="errorMsg" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i>Alert!</h4>
                {{ errorMsg }}
            </div>
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- /.content -->
