<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Deals
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Deals</h3>

                    <div class="box-tools">
                        <ul
                                uib-pagination
                                ng-model="currentPage"
                                total-items="filteredDeals.length"
                                items-per-page="numPerPage"
                                force-ellipses="true"
                                max-size="maxSize"
                                boundary-links="true"

                                class="pagination pagination-sm no-margin pull-right"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ></ul>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Hashed ID</th>
                                <th>Deal Name</th>
                                <th>Status</th>
                                <th width="1%">Detail</th>
                                <th width="1%">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deal in paginatedDeals">
                                <td>{{deal.id}}</td>
                                <td>{{deal.hashed_id}}</td>
                                <td>{{deal.deal_name}}</td>
                                <td>
                                    <span ng-if="deal.status == 1" class="label label-primary">New</span>
                                    <span ng-if="deal.status == 2" class="label label-success">Funded</span>
                                    <span ng-if="deal.status == 3" class="label label-warning">Expired</span>
                                </td>
                                <td><a href="#/deal/{{deal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                                <td><a href="#/deal/{{deal.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul
                            uib-pagination
                            ng-model="currentPage"
                            total-items="filteredDeals.length"
                            items-per-page="numPerPage"
                            force-ellipses="true"
                            max-size="maxSize"
                            boundary-links="true"

                            class="pagination pagination-sm no-margin pull-right"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ></ul>
                </div>

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!deals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
