<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Deal Commitments
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Deals</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>Deal ID</th>
                                <th>Status</th>
                                <th width="1%">Approve</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dealCommit in dealCommits">
                                <td>{{dealCommit.id}}</td>
                                <td>{{dealCommit.user_id}}</td>
                                <td>{{dealCommit.deal_id}}</td>
                                <td ng-if="dealCommit.status == 1">Pending</td>
                                <td ng-if="dealCommit.status == 2">Approved</td>
                                <td><a ng-if="dealCommit.status < 2" href="#/deal/{{dealCommit.deal_id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!dealCommits" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
