<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Proposal
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Deal #{{deal.id}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal with-solid-separator">
                        <dt>Status</dt>
                        <dd>
                            <span ng-if="deal.status == 1" class="label label-primary">New</span>
                            <span ng-if="deal.status == 2" class="label label-success">Funded</span>
                            <span ng-if="deal.status == 3" class="label label-warning">Expired</span>
                        </dd>
                        <dt>Deal Name</dt>
                        <dd>{{deal.deal_name}}</dd>
                        <dt>Closing Date</dt>
                        <dd>{{deal.closing_date}}</dd>
                        <dt>Broker Name</dt>
                        <dd>{{deal.broker_name}}</dd>
                        <dt>Investor Name</dt>
                        <dd>{{deal.investor_name}}</dd>
                        <dt>Lawyer Name</dt>
                        <dd>{{deal.lawyer_name}}</dd>
                        <dt>Documents Outstanding</dt>
                        <dd>{{deal.documents_outstanding}}{{deal.documents_outstanding_other}}</dd>
                        <dt>Annual Return</dt>
                        <dd>{{deal.annual_return}}</dd>
                        <dt>LTV</dt>
                        <dd>{{deal.ltv}}</dd>
                        <dt>Term</dt>
                        <dd>{{deal.term}}</dd>
                        <dt>Prepay Interest</dt>
                        <dd>{{deal.prepay_interest}}</dd>
                        <dt>House Type</dt>
                        <dd>{{deal.house_type}}</dd>
                        <dt>Address</dt>
                        <dd>{{deal.address}}</dd>
                        <dt>City</dt>
                        <dd>{{deal.city}}</dd>
                        <dt>Province</dt>
                        <dd>{{deal.province}}</dd>
                        <dt>Postal Code</dt>
                        <dd>{{deal.postal_code}}</dd>
                        <dt>Requested Amount</dt>
                        <dd>{{deal.requested_amount}}</dd>
                        <dt>Total Amount</dt>
                        <dd>{{deal.total_amount}}</dd>
                        <dt>Mortgage Type</dt>
                        <dd>{{deal.mortgage_type}}</dd>
                        <dt>First Mortgage</dt>
                        <dd>{{deal.first_mortgage}}</dd>
                        <dt>Income Verified</dt>
                        <dd><i ng-if="deal.income_verified == 1" class="fa fa-check" aria-hidden="true"></i><i ng-if="deal.income_verified == 0" class="fa fa-times" aria-hidden="true"></i></dd>
                        <dt>Appraised Value</dt>
                        <dd>{{deal.appraised_value}}</dd>
                        <dt>Min Investment</dt>
                        <dd>{{deal.min_investment}}</dd>
                        <dt>Monthly Interest</dt>
                        <dd>{{deal.monthly_interest}}</dd>
                        <dt>Processing Fee</dt>
                        <dd>{{deal.processing_fee}}</dd>
                        <dt>Broker Finders Fee</dt>
                        <dd>{{deal.broker_finders_fee}}</dd>
                        <dt>Discharge Fee</dt>
                        <dd>{{deal.discharge_fee}}</dd>
                        <dt>Rate</dt>
                        <dd>{{deal.rate}}</dd>
                        <dt>Funding Purpose</dt>
                        <dd>{{deal.funding_purpose}}</dd>
                        <dt>View Count</dt>
                        <dd>{{deal.view_count}}</dd>
                        <dt>Like Count</dt>
                        <dd>{{deal.like_count}}</dd>
                        <dt>Share Count</dt>
                        <dd>{{deal.share_count}}</dd>
                        <dt>Applicants</dt>
                        <dd>
                            <table width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Income</th>
                                    <th>Credit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="applicant in deal.applicants">
                                    <td>Applicant #{{$index+1}}</td>
                                    <td>{{applicant.income}}</td>
                                    <td>{{applicant.credit}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </dd>
                        <dt>Exit Strategy</dt>
                        <dd>{{deal.exit_strategy}}</dd>
                        <dt>Note</dt>
                        <dd>{{deal.note}}</dd>
                        <dt>Appraisal</dt>
                        <dd><a target="_blank" href="upload/files/appraisals/deals/{{deal.id}}/{{deal.appraisals[0].name}}">{{deal.appraisals[0].name}}</a></dd>
                        <br />

                        <dt>Investor</dt>
                        <dd><a href="#/user/{{deal.investor.id}}">{{deal.investor.first_name}}</a></dd>
                        <dt>Borrower</dt>
                        <dd><a href="#/user/{{deal.borrower.id}}">{{deal.borrower.first_name}}</a></dd>
                        <dt>Broker</dt>
                        <dd><a href="#/user/{{deal.broker.id}}">{{deal.broker.first_name}}</a></dd>
                        <br />

                        <dt>Admin</dt>
                        <dd>{{deal.admin.first_name}}</dd>
                    </dl>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <a class="btn btn-warning pull-right" href="#/deal/{{deal.id}}/edit">Edit</a>
                </div>

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!deal" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Commitment</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Date</th>
                            <th ng-if="commitment.status == 1" width="1%">Reject</th>
                            <th ng-if="commitment.status == 1" width="1%">Approve</th>
                            <th ng-if="commitment.status == 2" width="1%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="commitment in commitments">
                            <td>{{commitment.id}}</td>
                            <td><a href="#/user/{{commitment.user.id}}">{{commitment.user.first_name}}</a></td>
                            <td>{{commitment.created_at * 1000 | date:'medium'}}</td>
                            <td ng-if="commitment.status == 1"><a ng-click="rejectCommitment(commitment)" href=""><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            <td ng-if="commitment.status == 1"><a ng-click="approveCommitment(commitment)" href=""><i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td ng-if="commitment.status == 2">Approved</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!commitments" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Requests</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Date</th>
                            <th width="1%">Reject</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="request in requests">
                            <td>{{request.id}}</td>
                            <td><a href="#/user/{{request.user.id}}">{{request.user.first_name}}</a></td>
                            <td>{{request.created_at * 1000 | date:'medium'}}</td>
                            <td><a ng-click="rejectRequest(request)" href=""><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!requests" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>

    </div>
</section>
<!-- /.content -->
