<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Brokers
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Brokers</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Broker License Number</th>
                                <th>Brokerage Name</th>
                                <th width="1%">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="broker in brokers">
                                <td>{{broker.id}}</td>
                                <td>{{broker.email}}</td>
                                <td>{{broker.first_name}}</td>
                                <td>{{broker.last_name}}</td>
                                <td>{{broker.phone_number}}</td>
                                <td>{{broker.broker_licenses[0].broker_license_number}}</td>
                                <td>{{broker.broker_licenses[0].brokerage_name}}</td>
                                <td><a href="#/user/{{broker.id}}/broker"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!brokers" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
