<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Users
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>

                    <div class="box-tools">
                        <ul
                                uib-pagination
                                ng-model="currentPage"
                                total-items="filteredDeals.length"
                                items-per-page="numPerPage"
                                force-ellipses="true"
                                max-size="maxSize"
                                boundary-links="true"

                                class="pagination pagination-sm no-margin pull-right"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ></ul>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Investor</th>
                                <th>Borrower</th>
                                <th>Broker</th>
                                <th width="1%">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in paginatedUsers">
                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.phone_number}}</td>
                                <td><i ng-if="user.is_investor" class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i ng-if="user.is_borrower" class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i ng-if="user.is_broker" class="fa fa-check" aria-hidden="true"></i></td>
                                <td><a href="#/user/{{user.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul
                            uib-pagination
                            ng-model="currentPage"
                            total-items="filteredDeals.length"
                            items-per-page="numPerPage"
                            force-ellipses="true"
                            max-size="maxSize"
                            boundary-links="true"

                            class="pagination pagination-sm no-margin pull-right"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ></ul>
                </div>

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!users" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
