<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Broker
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Broker #{{broker.id}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal with-solid-separator">
                        <dt>First Name</dt>
                        <dd>{{broker.first_name}}</dd>
                        <dt>Last Name</dt>
                        <dd>{{broker.last_name}}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{broker.phone_number}}</dd>
                        <br />

                        <dt>License ID</dt>
                        <dd>{{brokerLicenseDisplay.id}}</dd>
                        <dt>Broker License Number</dt>
                        <dd>{{brokerLicenseDisplay.broker_license_number}}</dd>
                        <dt>Brokerage Name</dt>
                        <dd>{{brokerLicenseDisplay.brokerage_name}}</dd>
                        <dt>Approved</dt>
                        <dd><i ng-if="brokerLicenseDisplay.status == 1" class="fa fa-times" aria-hidden="true"></i><i ng-if="brokerLicenseDisplay.status == 2" class="fa fa-check" aria-hidden="true"></i></dd>
                    </dl>
                </div>
                <!-- /.box-body -->

                <div class="box-footer" ng-if="brokerLicenseDisplay.status == 1">
                    <button type="button" class="btn btn-success pull-right" ng-click="approveBrokerLicense(brokerLicenseDisplay)">Approve <i ng-if="approving" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                </div>

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!broker || !brokerLicenseDisplay" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Historical Licenses</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>License ID</th>
                            <th>Broker License Number</th>
                            <th>Brokerage Name</th>
                            <th>Date</th>
                            <th width="1%">Usage</th>
                            <th width="1%">View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="brokerLicense in brokerLicenses">
                            <td>{{brokerLicense.id}}</td>
                            <td>{{brokerLicense.broker_license_number}}</td>
                            <td>{{brokerLicense.brokerage_name}}</td>
                            <td>{{brokerLicense.created_at * 1000 | date:'mediumDate'}}</td>
                            <td>
                                <span ng-if="brokerLicense.usage == 1" class="label label-success">Current</span>
                                <span ng-if="brokerLicense.usage == 2" class="label label-primary">Historical</span>
                            </td>
                            <td><a href="" ng-click="displayBrokerLicense(brokerLicense)"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!brokerLicenses" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Deals</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hashed ID</th>
                            <th>Deal Name</th>
                            <th width="1%">Detail</th>
                            <th width="1%">Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="deal in deals">
                            <td>{{deal.id}}</td>
                            <td>{{deal.hashed_id}}</td>
                            <td>{{deal.deal_name}}</td>
                            <td><a href="#/deal/{{deal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            <td><a href="#/deal/{{deal.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!deals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Proposals</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th width="1%">Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="proposal in proposals">
                            <td>{{proposal.id}}</td>
                            <td>
                                <span ng-if="proposal.status == 1" class="label label-warning">Pending</span>
                                <span ng-if="proposal.status == 2" class="label label-success">Approved</span>
                                <span ng-if="proposal.status == 3" class="label label-danger">Rejected</span>
                            </td>
                            <td><a href="#/proposal/{{proposal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!proposals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>

    </div>
</section>
<!-- /.content -->
