<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Proposal
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User #{{user.id}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal with-solid-separator">
                        <dt>First Name</dt>
                        <dd>{{user.first_name}}</dd>
                        <dt>Last Name</dt>
                        <dd>{{user.last_name}}</dd>
                        <dt>Email</dt>
                        <dd>{{user.email}}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{user.phone_number}}</dd>
                        <dt>Is Investor</dt>
                        <dd><a href="#/user/{{user.id}}/investor" ng-if="user.is_investor"><i class="fa fa-check"></i></a></dd>
                        <dt>Is Borrower</dt>
                        <dd><a href="#/user/{{user.id}}/borrower" ng-if="user.is_borrower"><i class="fa fa-check"></i></a></dd>
                        <dt>Is Broker</dt>
                        <dd><a href="#/user/{{user.id}}/broker" ng-if="user.is_broker"><i class="fa fa-check"></i></a></dd>
                    </dl>
                </div>
                <!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!user" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>
</section>
<!-- /.content -->
