<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Borrower
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrower #{{borrower.id}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal with-solid-separator">
                        <dt>First Name</dt>
                        <dd>{{borrower.first_name}}</dd>
                        <dt>Last Name</dt>
                        <dd>{{borrower.last_name}}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{borrower.phone_number}}</dd>
                    </dl>
                </div>
                <!-- /.box-body -->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!borrower" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Deals</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hashed ID</th>
                            <th>Deal Name</th>
                            <th width="1%">Detail</th>
                            <th width="1%">Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="deal in deals">
                            <td>{{deal.id}}</td>
                            <td>{{deal.hashed_id}}</td>
                            <td>{{deal.deal_name}}</td>
                            <td><a href="#/deal/{{deal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                            <td><a href="#/deal/{{deal.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!deals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Proposals</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th width="1%">Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="proposal in proposals">
                            <td>{{proposal.id}}</td>
                            <td>
                                <span ng-if="proposal.status == 1" class="label label-warning">Pending</span>
                                <span ng-if="proposal.status == 2" class="label label-success">Approved</span>
                                <span ng-if="proposal.status == 3" class="label label-danger">Rejected</span>
                            </td>
                            <td><a href="#/proposal/{{proposal.id}}"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!proposals" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>

    </div>
</section>
<!-- /.content -->
