<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Investor
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- ./col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Investor #{{investor.id}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal with-solid-separator">
                        <dt>First Name</dt>
                        <dd>{{investor.first_name}}</dd>
                        <dt>Last Name</dt>
                        <dd>{{investor.last_name}}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{investor.phone_number}}</dd>
                        <br />

                        <dt>Identification ID</dt>
                        <dd>{{investorIdentificationDisplay.id}}</dd>
                        <dt>Is Resident</dt>
                        <dd><i ng-if="investorIdentificationDisplay.resident == 0" class="fa fa-times" aria-hidden="true"></i><i ng-if="investorIdentificationDisplay.resident == 1" class="fa fa-check" aria-hidden="true"></i></dd>
                        <dt>Is Accredited</dt>
                        <dd><i ng-if="investorIdentificationDisplay.accredited == 0" class="fa fa-times" aria-hidden="true"></i><i ng-if="investorIdentificationDisplay.accredited == 1" class="fa fa-check" aria-hidden="true"></i></dd>
                        <dt>First Name</dt>
                        <dd>{{investorIdentificationDisplay.first_name}}</dd>
                        <dt>Last Name</dt>
                        <dd>{{investorIdentificationDisplay.last_name}}</dd>
                        <dt>Marital Status</dt>
                        <dd>{{investorIdentificationDisplay.marital_status}}</dd>
                        <dt>Home Address</dt>
                        <dd>{{investorIdentificationDisplay.home_street_address}}</dd>
                        <dt>Home Unit</dt>
                        <dd>{{investorIdentificationDisplay.home_unit}}</dd>
                        <dt>Home City</dt>
                        <dd>{{investorIdentificationDisplay.home_city}}</dd>
                        <dt>Home Province</dt>
                        <dd>{{investorIdentificationDisplay.home_province}}</dd>
                        <dt>Home Postal Code</dt>
                        <dd>{{investorIdentificationDisplay.home_postal_code}}</dd>
                        <dt>Home Country</dt>
                        <dd>{{investorIdentificationDisplay.home_country}}</dd>
                        <dt>Home Country Code</dt>
                        <dd>{{investorIdentificationDisplay.home_country_code}}</dd>
                        <dt>Home Number</dt>
                        <dd>{{investorIdentificationDisplay.home_number}}</dd>
                        <dt>Company Name</dt>
                        <dd>{{investorIdentificationDisplay.company_name}}</dd>
                        <dt>Business Address</dt>
                        <dd>{{investorIdentificationDisplay.business_street_address}}</dd>
                        <dt>Business Unit</dt>
                        <dd>{{investorIdentificationDisplay.business_unit}}</dd>
                        <dt>Business City</dt>
                        <dd>{{investorIdentificationDisplay.business_city}}</dd>
                        <dt>Business Province</dt>
                        <dd>{{investorIdentificationDisplay.business_province}}</dd>
                        <dt>Business Postal Code</dt>
                        <dd>{{investorIdentificationDisplay.business_postal_code}}</dd>
                        <dt>Business Country</dt>
                        <dd>{{investorIdentificationDisplay.business_country}}</dd>
                        <dt>Business Country Code</dt>
                        <dd>{{investorIdentificationDisplay.business_country_code}}</dd>
                        <dt>Business Number</dt>
                        <dd>{{investorIdentificationDisplay.business_number}}</dd>
                        <dt>Business Email</dt>
                        <dd>{{investorIdentificationDisplay.business_email}}</dd>
                        <dt>Date of Birth</dt>
                        <dd>{{investorIdentificationDisplay.date_of_birth}}</dd>
                        <dt>Work Country Code</dt>
                        <dd>{{investorIdentificationDisplay.work_country_code}}</dd>
                        <dt>Work Number</dt>
                        <dd>{{investorIdentificationDisplay.work_number}}</dd>
                        <dt>Cell Country Code</dt>
                        <dd>{{investorIdentificationDisplay.cell_country_code}}</dd>
                        <dt>Cell Number</dt>
                        <dd>{{investorIdentificationDisplay.cell_number}}</dd>
                        <dt>Email</dt>
                        <dd>{{investorIdentificationDisplay.email}}</dd>
                        <dt>Occupation</dt>
                        <dd>{{investorIdentificationDisplay.occupation}}</dd>
                        <dt>Title</dt>
                        <dd>{{investorIdentificationDisplay.title}}</dd>
                        <dt>Nature of Business</dt>
                        <dd>{{investorIdentificationDisplay.nature_of_business}}</dd>
                        <dt>Years with Company</dt>
                        <dd>{{investorIdentificationDisplay.years_with_company}}</dd>
                        <dt>Annual Income Period</dt>
                        <dd>{{investorIdentificationDisplay.annual_income_period}}</dd>
                        <dt>Annual Income</dt>
                        <dd>{{investorIdentificationDisplay.annual_income}}</dd>
                        <dt>Total Assets</dt>
                        <dd>{{investorIdentificationDisplay.total_assets}}</dd>
                        <dt>Total Financial Assets</dt>
                        <dd>{{investorIdentificationDisplay.total_financial_assets}}</dd>
                        <dt>Total Net Financial Assets</dt>
                        <dd>{{investorIdentificationDisplay.total_net_financial_assets}}</dd>
                        <dt>Exp with Alt Scrt</dt>
                        <dd>{{investorIdentificationDisplay.experience_with_alternative_securities}}</dd>
                        <dt>Pctg of Assets Invested</dt>
                        <dd>{{investorIdentificationDisplay.percentage_of_assets_invested_in_issuer}}</dd>
                        <dt>Types of Alt Investments</dt>
                        <dd>{{investorIdentificationDisplay.types_of_alternative_investments_held}}</dd>
                        <dt>Investment Knowledge</dt>
                        <dd>{{investorIdentificationDisplay.investment_knowledge}}</dd>
                        <dt>Co Applicant</dt>
                        <dd>{{investorIdentificationDisplay.co_applicant}}</dd>
                        <dt>Investment Objectives</dt>
                        <dd>{{investorIdentificationDisplay.investment_objectives}}</dd>
                        <dt>Risk Tolerance</dt>
                        <dd>{{investorIdentificationDisplay.risk_tolerance}}</dd>
                        <dt>Require Instant Access</dt>
                        <dd>
                            <i ng-if="investorIdentificationDisplay.require_instant_access == 0" class="fa fa-times" aria-hidden="true"></i>
                            <i ng-if="investorIdentificationDisplay.require_instant_access == 1" class="fa fa-check" aria-hidden="true"></i>
                        </dd>
                        <dt>Investment Obj Changed</dt>
                        <dd>
                            <i ng-if="investorIdentificationDisplay.have_investment_objective_changed == 0" class="fa fa-times" aria-hidden="true"></i>
                            <i ng-if="investorIdentificationDisplay.have_investment_objective_changed == 1" class="fa fa-check" aria-hidden="true"></i>
                        </dd>
                        <dt>Explain</dt>
                        <dd>{{investorIdentificationDisplay.have_investment_objective_changed_explain}}</dd>
                        <dt>Risk Tolerance Changed</dt>
                        <dd>
                            <i ng-if="investorIdentificationDisplay.have_risk_tolerance_changed == 0" class="fa fa-times" aria-hidden="true"></i>
                            <i ng-if="investorIdentificationDisplay.have_risk_tolerance_changed == 1" class="fa fa-check" aria-hidden="true"></i>
                        </dd>
                        <dt>Explain</dt>
                        <dd>{{investorIdentificationDisplay.have_risk_tolerance_changed_explain}}</dd>
                        <dt>Pub Traded Rep Issuer</dt>
                        <dd>
                            <i ng-if="investorIdentificationDisplay.have_publicly_traded_reporting_issuer == 0" class="fa fa-times" aria-hidden="true"></i>
                            <i ng-if="investorIdentificationDisplay.have_publicly_traded_reporting_issuer == 1" class="fa fa-check" aria-hidden="true"></i>
                        </dd>
                        <dt>Issuer Name</dt>
                        <dd>{{investorIdentificationDisplay.publicly_traded_reporting_issuer_name}}</dd>
                        <dt>Ten More Issurer</dt>
                        <dd>
                            <i ng-if="investorIdentificationDisplay.have_ten_more_voting_rights_reporting_issuer == 0" class="fa fa-times" aria-hidden="true"></i>
                            <i ng-if="investorIdentificationDisplay.have_ten_more_voting_rights_reporting_issuer == 1" class="fa fa-check" aria-hidden="true"></i>
                        </dd>
                        <dt>Issuer Name</dt>
                        <dd>{{investorIdentificationDisplay.ten_more_voting_rights_reporting_issuer_name}}</dd>
                        <dt>Type of Document</dt>
                        <dd>{{investorIdentificationDisplay.type_of_document}}</dd>
                        <dt>Reference Number</dt>
                        <dd>{{investorIdentificationDisplay.reference_number}}</dd>
                        <dt>Date Issued</dt>
                        <dd>{{investorIdentificationDisplay.date_issued}}</dd>
                        <dt>Place Issued</dt>
                        <dd>{{investorIdentificationDisplay.place_issued}}</dd>
                        <dt>Expiration Date</dt>
                        <dd>{{investorIdentificationDisplay.expiration_date}}</dd>
                        <dt>Identity Front</dt>
                        <dd>{{investorIdentificationDisplay.proof_of_identity_front}}</dd>
                        <dt>Identity Back</dt>
                        <dd>{{investorIdentificationDisplay.proof_of_identity_back}}</dd>
                        <dt>Utility Bill</dt>
                        <dd>{{investorIdentificationDisplay.copy_of_utility_bill}}</dd>
                        <dt>Approved</dt>
                        <dd><i ng-if="investorIdentificationDisplay.status == 1" class="fa fa-times" aria-hidden="true"></i><i ng-if="investorIdentificationDisplay.status == 2" class="fa fa-check" aria-hidden="true"></i></dd>
                    </dl>
                </div>
                <!-- /.box-body -->

                <div class="box-footer" ng-if="investorIdentificationDisplay.status == 1">
                    <button type="button" class="btn btn-success pull-right" ng-click="approveInvestorIdentification(investorIdentificationDisplay)">Approve <i ng-if="approving" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                </div>

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!investor || !investorIdentificationDisplay" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Identifications</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th width="1%">Usage</th>
                            <th width="1%">View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="investorIdentification in investorIdentifications">
                            <td>{{investorIdentification.id}}</td>
                            <td>{{investorIdentification.created_at * 1000 | date:'mediumDate'}}</td>
                            <td>
                                <span ng-if="investorIdentification.usage == 2" class="label label-success">Current</span>
                                <span ng-if="investorIdentification.usage == 3" class="label label-primary">Historical</span>
                            </td>
                            <td><a href="" ng-click="displayInvestorIdentification(investorIdentification)"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!investorIdentifications" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->



        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Commitments</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Deal</th>
                            <th>Date</th>
                            <th ng-if="commitment.status == 1" width="1%">Reject</th>
                            <th ng-if="commitment.status == 1" width="1%">Approve</th>
                            <th ng-if="commitment.status == 2" width="1%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="commitment in commitments">
                            <td>{{commitment.id}}</td>
                            <td><a href="#/deal/{{commitment.deal.id}}">{{commitment.deal.hashed_id}}</a></td>
                            <td>{{commitment.created_at * 1000 | date:'medium'}}</td>
                            <td ng-if="commitment.status == 1"><a ng-click="rejectCommitment(commitment)" href=""><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            <td ng-if="commitment.status == 1"><a ng-click="approveCommitment(commitment)" href=""><i class="fa fa-check" aria-hidden="true"></i></a></td>
                            <td ng-if="commitment.status == 2">Approved</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!commitments" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Requests</h3>

                    <!--<div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Deal</th>
                            <th>Date</th>
                            <th width="1%">Reject</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="request in requests">
                            <td>{{request.id}}</td>
                            <td><a href="#/deal/{{request.deal.id}}">{{request.deal.hashed_id}}</a></td>
                            <td>{{request.created_at * 1000 | date:'medium'}}</td>
                            <td><a ng-click="rejectRequest(request)" href=""><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->

                <!-- Loading (remove the following to stop the loading)-->
                <div ng-if="!requests" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
