<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="images/default-profile-image.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ admin.first_name }} {{ admin.last_name }}</p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="#/dashboard">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#/user">
                    <i class="fa fa-users"></i><span>Manage Users</span>
                </a>
            </li>
            <li>
                <a href="#/deal">
                    <i class="fa fa-diamond"></i><span>Manage Deals</span>
                </a>
            </li>
            <li>
                <a href="#/proposal">
                    <i class="fa fa-bell"></i><span>Manage Proposals</span>
                </a>
            </li>
            <li>
                <a href="#/deal/create">
                    <i class="fa fa-bullhorn"></i><span>Publish Deal</span>
                </a>
            </li>
            <li>
                <a href="#/admin/register">
                    <i class="fa fa-pencil-square-o"></i><span>Register Admin</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>